<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Restaurant Application</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>
<div class="text-center">
<img th:src="@{https://raw.githubusercontent.com/tomczakmarcel/webRestaurants/master/src/main/resources/images/logo.png}" alt="Logo restauracji"/></imghttps:>
<br>
    <br>
Przejdź do widoku restauracji:<br>
<a href="/restaurants/" type="submit" name="submit" value="value" class="btn btn-info"> Click! </a>
    <br>Przejdź do widoku listy użytkowników:<br>
<a href="/users/all" type="submit" name="submit" value="value" class="btn btn-info"> Click! </a>
    </div>
</body>

</html>