<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Restaurant Application</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>
<img src="C:\Users\Marcel\IdeaProjects\webRestaurants\src\main\resources\images\logo.png" alt="Logo restauracji"/></imghttps:>
<br>

Go to all restaurants:<br>
<a href="/restaurants/" type="submit" name="submit" value="value" class="btn btn-info"> Go to all restaurants </a>
</body>

</html>