<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


</body>
</html>

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Restaurant Application</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>
No restaurant of this name is available or there's a problem with data of restaurant of this name in the database, please go back to main site:<br>
<a href="/" type="submit" name="submit" value="value" class="btn btn-info"> Click to go back to index </a>
</body>

</html>