<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Opening hours</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>
<div class="container">
    <div class="text-center"><img th:src="${restaurantInfo.logoURL}" alt="Logo restauracji"/></imghttps:></div>
    <div class="row" style="height: 50px">
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> When </th>
                <th scope="col"> Open </th>
                <th scope="col"> Close </th>
                <th scope="col"> Edit </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="opening : ${openingHours}">
                <td><span th:text="${opening.when}"> When </span></td>
                <td><span th:text="${opening.open}"> Open </span></td>
                <td><span th:text="${opening.close}"> Close </span></td>
                <td><a th:href="@{'/restaurants/' + ${restaurantInfo.name} + '/openinghours/' + ${opening.when}}"> Edit </a></td>
            </tr>
            </tbody>
        </table>

        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    </div>
</div>
</body>
</html>