<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All your restaurants</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>
<div class="container">
    <div class="text-center"><img th:src="@{https://media-cdn.tripadvisor.com/media/photo-s/10/e5/a4/fc/restaurant.jpg}" alt=""/></imghttps:>
        <br>
        <br>
        <td><a th:href="@{'/'}" type="submit" name="submit" value="value" class="btn btn-dark">Wróć</a></td>
        <br>
    </div>
    <div class="row" style="height: 50px">
    </div>
        <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> ID restauracji </th>
                <th scope="col"> Nazwa restauracji: </th>
                <th scope="col"> Opis: </th>
                <th scope="col"> Więcej </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${restaurants.empty}">
                <td colspan="2"> No Restaurants Available, you can add one below </td>
            </tr>
            <tr th:each="restaurant : ${restaurants}">
                <td><span th:text="${restaurant.restaurantId}"> Restaurant ID: </span></td>
                <td><span th:text="${restaurant.name}"> Name of Restaurant: </span></td>
                <td><span th:text="${restaurant.description}"> Description: </span></td>
                <td><a th:href="@{'/restaurants/' + ${restaurant.name}}" type="submit" name="submit" value="value" class="btn btn-light">Więcej informacji o <span th:text="${restaurant.name}"/></a></td>
            </tr>
            </tbody>
        </table>

        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    </div>
</div>
</body>
</html>